<% provide(:title, 'Archive') %>
<h1>Archive</h1>

<ul class="interviews">
  <% @interviews.each do |interview| %>
    <li>
      <%= image_for interview%>
      <%= link_to interview.name + " " + interview.date, interview %>
    </li>
    <p><%= "summary: " + interview.summary %></li>
  <% end %>
</ul>
