<% provide(:title, "About") %>
<h1>About</h1>
<div class="div-padding"> 
<ul style="list-style-type:none;">
  <li><p style="text-indent: 50px">LGBT Oral Histories of Central Iowa is a project by students of
 Grinnell College, started as part of the Queer Oral Histories seminar in
 Gender, Women’s, and Sexuality Studies taught by Professor AJ
 Lewis. Throughout the semester, we have been conducting oral history
 interviews with folks throughout the state who identify as LGBT, or are
 otherwise closely related to the local LGBT community. The goal of our
 project is, broadly, to preserve the histories of LGBT individuals and
 communities in Iowa through building an online, publicly available archive
 of life histories. While we have done interviews with folks connected to
 Grinnell College (students, faculty, and staff), our primary focus is on
 preserving histories of LGBT community beyond the college campus. We have
 mainly focused on the rural area between Des Moines and Iowa City, but we
 welcome the stories of anyone with ties to LGBT communities throughout the
 state of Iowa. We recognize that Grinnell College is a well-resourced
 institution, and that LGBT life at the College is relatively
 well-documented. Through interviewing folks who are not affiliated with
 the College, we strive to preserve histories that may otherwise be
 forgotten or erased, to create a more diverse portrait of what LGBT
 community life looks like in Iowa, and to expand our understanding of the
 ways in which LGBT issues intersect with issues of class, race, religion,
    region, dis/ability, and more in the particular context of Iowa.</p>
  </li>
  <br>
  
  <li><p style="text-indent: 50px">While we have been working closely with Professor Lewis, this project is primarily student-driven. From creating promotional materials, recruiting narrators, traveling across the state to conduct interviews, uploading the interviews to our website, and engaging in critical discussions about the political implications of this project, the bulk of the project has been directed by ten students. Not only do we have academic interest in LGBT oral history, this work has personal and political importance to us as well: we all identify as members of the LGBT community, and while most of us are not from Iowa, we have all chosen to call this place home for four years. We are honored to be in a position in which we can use the resources of our educational institution to engage in research that prioritizes the local community in which we live, and we hope that this attitude is reflected in our archive.</p>
  </li>
</ul>
</div> 
