<% provide(:title, "Contact") %>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey">
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
  </head>
  <body>
    <h1>Contact Us</h1>
    <div style = "text-align:center">
      <figure >
      <%= image_tag("https://lgbtoralhistories.sites.grinnell.edu/wp-content/uploads/2019/04/Oral-History-Poster-3.jpg",
      alt: "contact info", size: "500x700") %>
      </figure>
      <figcaption> Image Source (AJ's Wordpress)</figcaption>
      </div>
  </body>
</html> 
