<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey">
<% faq = "LGBT Oral Histories of Central Iowa: Narrator FAQ 

Compiled by May Kurata

1. What is this project about?

LGBT Oral Histories of Central Iowa is an archival project made up of interviews gathered by students of Grinnell College. Our goal is to record the memories of people in our local community who identify as LGBT (Lesbian, Gay, Bisexual, and Transgender). We want to ensure that the histories of LGBT Iowans are preserved and shared into future generations.

2. Who can participate?

We’re interested in hearing the life stories of anyone who has a connection to Iowa and identifies with LGBT community (including allies who have been involved in local LGBT issues and politics)! Most our interviews are conducted in-person, which tends to be the most comfortable setting for interviewees. But if you no longer live in Iowa, or if you live in part of the state that’s far from our home base in Grinnell, or if travel simply isn’t viable, we can arrange Skype or phone interviews. We especially invite participation by working-class LGBT people, LGBT people of color, trans and nonbinary people, LGBT people with disabilities, and LGBT immigrants. If you’d like to participate by sharing your experiences, please shoot us an email or phone call!

3. Who will interview me?

You may have been contacted by a student already (who might be sending you this FAQ!) and that student is available to interview you. But whether or not you’re already in touch with an individual student, we think it’s important to note: oral history interviews are in-depth conversations, in which the interviewee shares a lot about their life. We want participants to feel comfortable with the experience. If you would prefer to be interviewed by a student who shares an identity or background with you, we can work to arrange that (for instance: if you identify as lesbian and would simply feel more comfortable being interviewed by student who also identifies as lesbian; or if you’re trans and would prefer a trans student interviewer, a student of color, working-class student, a student of non-U.S. national origin, etc). Just let us know if you have any preferences. All student interviewers currently working on the project identity as LGBT.

4. What will the interview be like?

The style of our interviews is narrator-driven, meaning that the narrator (i.e., interviewee) can decide what or what not to talk about. Our project focuses on LGBT issues, experiences, identities, and community—broadly defined. So we ask a lot of questions about those topics, but narrators should decide what feels important for them to talk about. We don’t discuss anything a narrator doesn’t want to. Usually, we like to chat or email briefly with narrators before the actual interview—so you can tell us about what you’d like to discuss, which helps us prepare questions.

We mostly conduct “life-course” interviews, meaning that we usually start by asking questions about your early life, and move from then to now. But if you’d prefer to give an interview focusing on a specific issue, theme, a particular stage in your life, etc, we’re happy to do that too.

Your interviewer will bring an audio recorder—we won’t video you!—and will record the interview from beginning to end. We can pause the interview at any time to take a break.

Interviews usually around two hours, but it’s up to the narrator to talk more or less than that if they want. In addition, your interviewer will spend maybe 10 minutes before the interview going over release forms and answering any questions you have. We also ask that narrators provide us with a photo of their choosing so we can post it with the interview (your interviewer can also take a photo at the interview). Usually, this would be a photo of you. But if you prefer not to use your own image for whatever reason, you’re welcome to choose a photo of anything else to post with your interview.

5. What will happen if I choose to contribute to the archive?

Narrators have full intellectual property rights to the stories they share. If you agree to contribute to the archive, you’ll sign a release form authorizing Grinnell College to use your oral testimony for non-commercial purposes. You can choose whether to make your interview fully accessible to the public, or limit it to those who have Grinnell College email addresses. You can also limit when your interview would become available, such as publishing it a couple of months after the interview took place. You can also have the interview taken down at any point on request.

6. Can I protect my privacy or remain anonymous?

You can choose not to reveal too much personal information about yourself and others. Before recording, your interviewer will discuss with you what, if anything, you don’t want to talk about. Additionally, we can make little edits to the audio if, after the fact, you realize you said something you want to remove from the recording. But because we want to retain the integrity of the interview as much as possible, we do not do major edits—we ask that narrators keep in mind that they’re speaking on the public record (or, if you choose for your interview to be restricted access, you’re speaking to the Grinnell College community at large).

Regarding anonymity, full anonymity is difficult because if someone talks for two hours about their life, it’s extremely likely that identifying information will emerge. However, there are options for creating degrees of anonymity. For example, narrators can choose what name they want to publish with the interview, you can choose whatever photo you want to use for the website, and you can choose to restrict access to your interview to individuals with Grinnell college email accounts. We will also be working to generate written transcripts for interviews, but narrators can request that their interviews not be transcribed, which makes the interview content more difficult to search." 
%>

<h1>Frequently Asked Questions</h1>
<p>
  <!--<%= simple_format(faq) %>-->
</p>

<p style="text-align: center;" >LGBT Oral Histories of Central Iowa:
  Narrator FAQ
</p>

<p style="text-align: center;" >
  <i>Compiled by May Kurata</i>
  <br>
</p>

<div class="div-padding">

<p><b>1. What is this project about?</b><br></p>

<p style="text-indent: 50px;">LGBT Oral Histories of Central Iowa is an
  archival project made up of interviews gathered by students of Grinnell
  College. Our goal is to record the memories of people in our local
  community who identify as LGBT (Lesbian, Gay, Bisexual, and
  Transgender). We want to ensure that the histories of LGBT Iowans are
  preserved and shared into future generations.<br></p>

<p><b>2. Who can participate?</b><br></p>

<p style="text-indent: 50px;">We’re interested in hearing the life stories
  of anyone who has a connection to Iowa and identifies with LGBT community
  (including allies who have been involved in local LGBT issues and
  politics)! Most our interviews are conducted in-person, which tends to be
  the most comfortable setting for interviewees. But if you no longer live
  in Iowa, or if you live in part of the state that’s far from our home
  base in Grinnell, or if travel simply isn’t viable, we can arrange Skype
  or phone interviews. We especially invite participation by working-class
  LGBT people, LGBT people of color, trans and nonbinary people, LGBT
  people with disabilities, and LGBT immigrants. If you’d like to
  participate by sharing your experiences, please shoot us an email or
  phone call!<br></p>

<p><b>3. Who will interview me?</b><br></p>

<p style="text-indent: 50px;">You may have been contacted by a student
  already (who might be sending you this FAQ!) and that student is
  available to interview you. But whether or not you’re already in touch
  with an individual student, we think it’s important to note: oral history
  interviews are in-depth conversations, in which the interviewee shares a
  lot about their life. We want participants to feel comfortable with the
  experience. If you would prefer to be interviewed by a student who shares
  an identity or background with you, we can work to arrange that (for
  instance: if you identify as lesbian and would simply feel more
  comfortable being interviewed by student who also identifies as lesbian;
  or if you’re trans and would prefer a trans student interviewer, a
  student of color, working-class student, a student of non-U.S. national
  origin, etc). Just let us know if you have any preferences. All student
  interviewers currently working on the project identity as LGBT.<br></p>

<p><b>4. What will the interview be like?</b><br></p>

<p style="text-indent: 50px;">The style of our interviews is narrator-driven, meaning that the narrator (i.e., interviewee) can decide what or what not to talk about. Our project focuses on LGBT issues, experiences, identities, and community—broadly defined. So we ask a lot of questions about those topics, but narrators should decide what feels important for them to talk about. We don’t discuss anything a narrator doesn’t want to. Usually, we like to chat or email briefly with narrators before the actual interview—so you can tell us about what you’d like to discuss, which helps us prepare questions.<br></p>

<p style="text-indent: 50px;">We mostly conduct “life-course” interviews,
  meaning that we usually start by asking questions about your early life,
  and move from then to now. But if you’d prefer to give an interview
  focusing on a specific issue, theme, a particular stage in your life,
  etc, we’re happy to do that too.<br></p>

<p style="text-indent: 50px;">Your interviewer will bring an audio
  recorder—we won’t video you!—and will record the interview from beginning
  to end. We can pause the interview at any time to take a break.<br></p>

<p style="text-indent: 50px;">Interviews usually around two hours, but it’s
  up to the narrator to talk more or less than that if they want. In
  addition, your interviewer will spend maybe 10 minutes before the
  interview going over release forms and answering any questions you
  have. We also ask that narrators provide us with a photo of their
  choosing so we can post it with the interview (your interviewer can also
  take a photo at the interview). Usually, this would be a photo of
  you. But if you prefer not to use your own image for whatever reason,
  you’re welcome to choose a photo of anything else to post with your
  interview.<br></p>

<p><b>5. What will happen if I choose to contribute to the
    archive?</b><br></p>

<p style="text-indent: 50px;">Narrators have full intellectual property
  rights to the stories they share. If you agree to contribute to the
  archive, you’ll sign a release form authorizing Grinnell College to use
  your oral testimony for non-commercial purposes. You can choose whether
  to make your interview fully accessible to the public, or limit it to
  those who have Grinnell College email addresses. You can also limit when
  your interview would become available, such as publishing it a couple of
  months after the interview took place. You can also have the interview
  taken down at any point on request.<br></p>

<p><b>6. Can I protect my privacy or remain anonymous?</b><br></p>

<p style="text-indent: 50px;">You can choose not to reveal too much
  personal information about yourself and others. Before recording, your
  interviewer will discuss with you what, if anything, you don’t want to
  talk about. Additionally, we can make little edits to the audio if, after
  the fact, you realize you said something you want to remove from the
  recording. But because we want to retain the integrity of the interview
  as much as possible, we do not do major edits—we ask that narrators keep
  in mind that they’re speaking on the public record (or, if you choose for
  your interview to be restricted access, you’re speaking to the Grinnell
  College community at large).<br></p>

<p style="text-indent: 50px;">Regarding anonymity, full anonymity is
  difficult because if someone talks for two hours about their life, it’s
  extremely likely that identifying information will emerge. However, there
  are options for creating degrees of anonymity. For example, narrators can
  choose what name they want to publish with the interview, you can choose
  whatever photo you want to use for the website, and you can choose to
  restrict access to your interview to individuals with Grinnell college
  email accounts. We will also be working to generate written transcripts
  for interviews, but narrators can request that their interviews not be
  transcribed, which makes the interview content more difficult to
  search.<br></p>

</div>
