<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey">
<main role="main" class="container">
  <h1>LGBT Oral Histories of Central Iowa</h1>
  <div class="row justify-content-center">
    <div class="col-md">
      <p>LGBT Oral Histories of Central Iowa is a project made up of interviews gathered by students of Grinnell College. Our goal is to record the memories of people in our local community who identify as LGBT (Lesbian, Gay, Bisexual, and Transgender). We want to ensure that the valuable histories of LGBT Iowans are preserved and shared into future generations.</p>
    </div>
  </div>
  <div style = "text-align:center">
    <figure>
      <%= image_tag("lgbt_frontpage.jpg", alt: "Image",  :size => "420x300") %>
      <figcaption> Image Source (AJ's Wordpress)
        </figcaption>
    </figure>
    <p>Please note: This website is under construction! We appreciate your patience while things are in disarray.
      </p>
  </div>
</main>
